name: "build-macos"

on:
  push:
    branches:
      - master
      - develop
      - feature/*
    tags:
      - v*

  pull_request:

  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: build-macos-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:

  macos:
    strategy:
      fail-fast: false
      matrix:
        include:
          - macos-arch: arm64
            macos-version: 15
            script: standard-build

          - macos-arch: arm64
            macos-version: 14
            script: standard-build

    runs-on: macos-${{ matrix.macos-version }}

    name: macos${{ matrix.macos-version }}-${{ matrix.macos-arch }}/${{ matrix.script }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build and test
        run: |
          scripts/ci_checks/macos/${{ matrix.script }}.sh

      - name: Handle failure
        if: failure()
        run: |
          scripts/ci_checks/failure.sh

